h1{
    text-align: center;
}
.container{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}
.day{
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.date{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}